* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: silver;
}

div.container {
  width: 60%;
  margin: 10px auto;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div.container div.datos {
  padding: 10px;
}

div.datos h2 {
  margin-bottom: 10px;
}

div.container div.contenedorBoton {
  width: 200px;
}

div.contenedorBoton button {
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(0, 98, 255);
  color: white;
  margin-bottom: 10px;
}

div.contenedorModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.5s;
}

div.contenedorModal div.modal {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);
}

.modal-open {
  opacity: 1 !important;
  pointer-events: unset !important;
  transition: opacity 0.1s !important;
  --transform: translateY(0) !important;
  --transition: transform 0.5s 0.5s !important;
}

div.modal span.material-symbols-outlined {
  position: absolute;
  right: 0%;
  top: 0%;
}
